.box {
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 30px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.h-800 {
  height: 950px;
}

.line_1 {
  background: #FFC122;
  animation: line_1 6s infinite;
  margin-left: 2px;
}

@keyframes line_1 {
  0% {
    height: 0px;
  }

  100% {
    height: 950px;
  }
}

.line {
  background: #FFC122;
  animation: line 6s infinite linear;
  animation-delay: 3s;
}

@keyframes line {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #171714;
  background-color: #2f2f2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(281.31deg, #F9FB32 -7.22%, #CD9400 68.56%, #F9FB32 131.36%);
  border-radius: 10px;
}

.slick-dots li button:before {
  color: rgba(255, 255, 255, 0.6) !important;
  font-size: 16px !important;
}

.slick-dots li.slick-active button:before {
  color: #9245F5 !important;
  font-size: 28px !important;
}